@page
@using RazorPagesTestApp.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Full Name</th>
                    <th>Last Logged In</th>
                    <th>Presence</th>
                    <th>Is Online</th>
                    <th>Grade</th>
                    <th>Diamonds</th>
                    <th>Comment</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Students.Count; i++)
                {
                    <input type="hidden" asp-for="@Model.Students[i].Student.Id" />
                    <tr>
                        <partial name="StudentRow.cshtml" model="@Model.Students[i]"/>
                        <td>
                            <a class="btn btn-primary" asp-page="UpdateStudent" asp-route-id="@Model.Students[i].Student.Id">Edit</a>
                            <a class="btn btn-danger" asp-page-handler="DeleteStudent" asp-route-id="@Model.Students[i].Student.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="submit" value="Save Changes" class="btn btn-success" />
    </form>

    <a class="btn btn-primary" asp-page-handler="CreateStudent">Add Student</a>
</div>