@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Full Name of Author</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Books.Count; i++)
            {
                <tr>
                    <td>@Model.Books[i].Id</td>
                    <td>@Model.Books[i].Title</td>
                    <td>@Model.Books[i].AuthorFullName</td>
                    <td>
                        <a class="btn btn-primary" asp-page="Book" asp-route-id="@Model.Books[i].Id">Show Full Info</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-secondary" asp-page-handler="AddBook">Add Book</a>
</div>
